.header {
    width: 100%;
    display: grid;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-top: -5px;
    background-image: url("../../images/background.png");
    background-attachment: fixed;
    background-size: cover;
    z-index: 3;
}

.header button {
    grid-row: 1;
}

@media only screen and (max-width:768px) {
    .header {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .header {
        display: none;
    }
}