.container {
    background-color: rgba(255, 255, 255, 0.524);
    color: black;
    height: fit-content;
    width: 450px;
    text-align: center;
    display: grid;
    justify-content: center;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    margin: 2rem;
    justify-self: center;
}

.title {
    font-weight: bold;
}

.about {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width:768px) {
    .container {
        width: 350px;
    }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 350px;
    }
}