.container {
    background-color: rgba(255, 255, 255, 0.524);
    width: 350px;
    display: grid;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
    text-align: center;
    backdrop-filter: blur(2px);
}

.container:hover {
    opacity: .9;
}

.container::backdrop {
    backdrop-filter: blur(2px);
}

.title {
    font-weight: bold;
}

.divider {
    border: 1px solid black;
    background: black;
    width: 30%;
    height: 2px;
}

.language {
    margin: .2rem;
}